<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Exchange Rate API Test">  
		 <classes>
			 <class name="com.yogesh.assesment.ExchangeRateAPI.TestRunner">  
				 <methods>
					 <include name="scenario"/>  
				 </methods>
			</class>
		</classes></test> <!-- Test -->
</suite> <!-- Suite -->
